<div class="auth-form-light text-left py-5 px-4 px-sm-5">
    <!-- {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            <div class=flashes>
                <div class="alert alert-danger">{{ messages[0] }}</div>
            </div>
        {% endif %}
    {% endwith %} -->
    <div class="brand-logo">
        <h3>PAU</h3>
    </div>
    <!-- <h4>Hello! let's get started</h4> -->
    <h6 class="font-weight-light">Sign in to continue.</h6>
    <form class="pt-3" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
            <input type="email" name="UserEmailAddress" [(ngModel)]="user.UserEmailAddress" class="form-control form-control-lg" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" name='UserPassword' [(ngModel)]="user.UserPassword" class="form-control form-control-lg" placeholder="Password" required>
        </div>
        <div class="mt-3">
            <button type="submit" id="register-submit-btn" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
        </div>
        <div class="my-2 d-flex justify-content-between align-items-center">
            <!-- <div class="form-check">
                <label class="form-check-label text-muted">
                    <input type="checkbox" name="remember_me" class="form-check-input">
                    Keep me signed in
                </label>
            </div> -->
            <a href="#" class="auth-link text-black">Forgot password?</a>
        </div>
        <div class="text-center mt-4 font-weight-light">
            Don't have an account? <a routerLink="/sign-up" class="text-primary">Sign Up</a>
        </div>
    </form>
</div>