
<div class="content-wrapper">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
    <h4 class="card-description text-center p-3">APPLY FOR LEAVE</h4>
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-description">
              Personal info
            </h4>
            <div class="form-group">
              <label>Designation</label>
              <input type="text" class="form-control" formControlName="Designation" placeholder="Designation" aria-label="Designation">
            </div>
            <div class="form-group">
              <label>Type of leave</label>
              <input type="text" class="form-control" formControlName="TypeOfLeave" placeholder="Type of leave" aria-label="Typeofleave">
            </div>
            <div class="form-group">
              <label>Return Date</label>
              <input type="text" class="form-control" formControlName="ReturnDate" placeholder="dd/mm/yyyy" aria-label="Returndate">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body pt-5">
            <div class="form-group">
              <label>Applicant Level</label>
              <input type="text" class="form-control" formControlName="ApplicantLevel" placeholder="Applicant Level" aria-label="ApplicantLevel">
            </div>
            <div class="form-group">
              <label>Number Of Days Needed</label>
              <input type="text" class="form-control" formControlName="NumberOfDaysNeeded" placeholder="0" aria-label="numberofdaysrequired">
            </div>
            <div class="form-group">
              <label>Leave Commencement</label>
              <input type="text" class="form-control" formControlName="LeaveCommencement" placeholder="Leave Commencement" aria-label="LeaveComencement">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-description">
              Address
            </h4>
            <div class="row">
              <div class="col-6 form-group">
                <label>Address Details</label>
                <input type="text" class="form-control" formControlName="AddressDetails" placeholder="eg. ntinda,kampala">
              </div>

              <div class="col-6 form-group">
                <label>Telephone</label>
                <input type="tel" class="form-control" formControlName="Telephone" placeholder="eg. +256 770088007">
              </div>

              <div class="col-6 form-group">
                <label>Next of Kin Contact</label>
                <input type="text" class="form-control" formControlName="NextofKinContact" placeholder="eg. +256 770088007">
              </div>

            </div>
            <div class="displayFields"></div>


            <!-- <div>
              <button class="btn btn-sm btn-primary" (click)="add()">Add</button>
            </div> -->

            <div class="text-center">
             <button type="submit" class="btn btn-primary btn-icon-text">
               Submit
             </button>
           </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
