<div class="content-wrapper">
  <div class="container-xl px-4 mt-4">
      <!-- Account page navigation-->
      <nav class="nav nav-borders">
          <a class="nav-link active ms-0" href="" target="__blank">Profile</a>
          <!-- <a class="nav-link" target="__blank">Applications</a> -->
          <!-- <a class="nav-link"  target="__blank">Notifications</a> -->
      </nav>
      <hr class="mt-0 mb-4">
      <div class="row">
          <div class="col-xl-4">
              <!-- Profile picture card-->
              <div class="card mb-4 mb-xl-0">
                  <div class="card-header">Profile Picture</div>
                  <div class="card-body text-center">
                      <!-- Profile picture image-->
                      <img class="img-account-profile rounded-circle mb-2" src="..//src/assets/img/profile-icon.png" alt="">
                      <!-- Profile picture help block-->
                      <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                      <!-- Profile picture upload button-->
                      <button class="btn btn-primary" type="button">Upload new image</button>
                  </div>
              </div>
          </div>
          <div class="col-xl-8">
              <!-- Account details card-->
              <div class="card mb-4">
                  <div class="card-header">Profile Details</div>
                  <div class="card-body">
                      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                          <!-- Form Row-->
                          <div class="row gx-3 mb-3">
                              <!-- Form Group (first name)-->
                              <div class="col-md-6">
                                  <label class="small mb-1" >First name</label>
                                  <input class="form-control form-control-sm"   type="text" FormControlName="FirstName" placeholder="Enter your first name">
                              </div>
                              <!-- Form Group (last name)-->
                              <div class="col-md-6">
                                  <label class="small mb-1">Last name</label>
                                  <input class="form-control form-control-sm"  type="text" FormControlName="LastName" placeholder="Enter your last name">
                              </div>
                          </div>
                          <div class="row gx-3 mb-3">
                              <!-- Form Group (email)-->
                              <div class="col-md-6">
                                  <label class="small mb-1">Email</label>
                                  <input class="form-control form-control-sm"  type="email" FormControlName="UserEmailAddress" placeholder="Enter your Email">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">Username </label>
                                  <input class="form-control form-control-sm" type="text" placeholder="Enter your username">
                              </div>
                          </div>
                          <hr>
                          <!-- Form Row        -->
                          <div class="row gx-3 mb-3">
                              <!-- Form Group (organization details)-->
                              <div class="col-md-6">
                                  <label class="small mb-1">Organisation Name</label>
                                  <input class="form-control form-control-sm"  type="text" FormControlName="OrganisationName" placeholder="Enter your organisation">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">Organisation User Name</label>
                                  <input class="form-control form-control-sm" type="text" FormControlName="OrganisationUserName" placeholder="Enter your organisation username">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">User Category</label>
                                  <input class="form-control form-control-sm" type="text" FormControlName="UserCategory" placeholder="Enter your category">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">User Company Id</label>
                                  <input class="form-control form-control-sm" type="text" FormControlName="UserCompanyId" placeholder="Enter your user company ID">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">Staff Id</label>
                                  <input class="form-control form-control-sm" type="text" FormControlName="StaffId" placeholder="Enter your staff ID">
                              </div>
                          </div>
                          <hr>
                          <div class="row gx-3 mb-3">
                              <div class="col-md-6">
                                  <label class="small mb-1">LUID</label>
                                  <input class="form-control form-control-sm" type="text" FormControlName="LUID" placeholder="Enter your organization name">
                              </div>

                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputLocation">Login ID</label>
                                  <input class="form-control form-control-sm" type="text" FormControlName="LoginID" placeholder="Enter your location">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputEmailAddress">Login ID Alias</label>
                                  <input class="form-control form-control-sm" type="text" FormControlName="LoginIDAlias" placeholder="Enter your email address">
                              </div>
                          </div>
                          <hr>

                          <!-- Form Row-->
                          <div class="row gx-3 mb-3">
                              <div class="col-md-6">
                                  <label class="small mb-1">User Prems User Id</label>
                                  <input class="form-control form-control-sm" type="number" FormControlName="UserPremsUserId"
                                  placeholder="Enter your user prems user ID">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">User Security Level Id</label>
                                  <input class="form-control form-control-sm" type="number" FormControlName="UserSecurityLevelId"
                                  placeholder="Enter your user security level ID">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">User Nogtr WebSecurity Level Id</label>
                                  <input class="form-control form-control-sm" type="number" FormControlName="UserNogtrWebSecurityLevelId"
                                  placeholder="Enter User Nogtr WebSecurity Level Id">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">User Prems WebSecurity Level Id</label>
                                  <input class="form-control form-control-sm" type="number" FormControlName="UserPremsWebSecurityLevelId"
                                  placeholder="Enter User Prems WebSecurity Level Id">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">User IntranetSecurity Level Id</label>
                                  <input class="form-control form-control-sm" type="number" FormControlName="UserIntranetSecurityLevelId"
                                  placeholder="Enter User IntranetSecurity Level Id">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1">User Nsd WebSecurity Level Id</label>
                                  <input class="form-control form-control-sm" type="number" FormControlName="UserNsdWebSecurityLevelId"
                                  placeholder="Enter User Nsd WebSecurity Level Id">
                              </div>

                          </div>
                          <hr>
                          <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1">Next Of Kin Name</label>
                                <input class="form-control form-control-sm" type="text" FormControlName="NextOfKinName"
                                placeholder="Enter your Next Of Kin Name">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Directorate</label>
                                <input class="form-control form-control-sm" type="text" FormControlName="Directorate"
                                placeholder="Enter Directorate">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Comments</label>
                                <textarea class="form-control" FormControlName="Comments"
                                placeholder="Enter Comments" rows="4"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Activation Change Comment</label>
                                <textarea  class="form-control" FormControlName="ActivationChangeComment"
                                placeholder="Enter Activation Change Comment" rows="4"></textarea>
                            </div>

                          </div>
                          <!-- Save changes button-->
                          <button class="btn btn-primary" type="submit">Save changes</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
