<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Applications</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link"
                            routerLink="/apply-for-leave">Apply for Leave</a></li>
                    <li class="nav-item"> <a class="nav-link"
                            routerLink="/sign-up">My Applications</a></li>
                    <li *ngIf="admin" class="nav-item"> <a class="nav-link"
                        routerLink="/list-all-applications">All Applications</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" routerLink="/edit-profile" aria-expanded="false"
                aria-controls="form-elements1">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Recommendations</span>
            </a>
        </li> -->
    </ul>
</nav>
